.type {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkButton:not(:last-child) {
  margin-right: 3rem;
}

.block {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainText {
  color: #fff;
  background-color: rgba(108, 101, 101, 0.8);
  padding: 0 9px;
  border-radius: 10px;
  margin: 3rem;
}
